<header>
    <div class="header-container">
        <div class="card container">
            <div class="mobile-header d-flex d-md-none align-items-center justify-content-between py-2">
                <button type="button" class="mobile-menu-trigger" (click)="toggleMobileMenu()" aria-label="Mở menu">
                    <nz-icon nzType="menu" nzTheme="outline"></nz-icon>
                </button>
                <a routerLink="/home" class="mobile-header-logo">
                    <img [src]="logoURL()" height="40" alt="SamFoods">
                </a>
                <a routerLink="/cart" class="mobile-header-cart" aria-label="Giỏ hàng">
                    <nz-badge [nzCount]="totalQuantity()">
                        <nz-icon nzType="shopping-cart" nzTheme="outline" style="font-size: 24px; color: white;"></nz-icon>
                    </nz-badge>
                </a>
            </div>

            <p-megamenu [model]="megaMenuItems() ?? []" styleClass="custom-megamenu d-none d-md-flex">

                <ng-template #start>
                    <a routerLink="/home">
                        <img [src]="logoURL()" height="50">
                    </a>
                </ng-template>

                <ng-template #end>

                    <div class="kw-tag-search d-flex align-items-center gap-1 px-2">
                        @for (kw of keywords(); track kw) {
                            <nz-tag nzMode="closeable" (nzOnClose)="removeKeyword(kw)" class="m-0">
                                {{ kw }}
                            </nz-tag>
                        }
                        <input nz-input
                            type="text"
                            class="kw-tag-input flex-grow-1"
                            [value]="currentInput()"
                            (input)="onKeywordInput($any($event.target).value)"
                            (keydown.enter)="doSearch()"
                            placeholder="Bạn đang muốn tìm kiếm gì? (Enter để thêm & tìm)"
                            [nzAutocomplete]="auto"
                        />
                        <nz-autocomplete [nzDataSource]="autoCompleteKeywords()" #auto></nz-autocomplete>
                        @if (keywords().length > 0 || currentInput()) {
                            <button nz-button nzType="text" nzSize="small" (click)="clearKeywords()" class="p-1" title="Xóa tất cả">
                                <i nz-icon nzType="close-circle"></i>
                            </button>
                        }
                        <button nz-button nzType="primary" nzSize="small" (click)="doSearch()" title="Tìm kiếm">
                            <i nz-icon nzType="search"></i>
                        </button>
                    </div>

                    <a *ngIf="!isOnCartPage()" nz-dropdown [nzDropdownMenu]="menu" [nzTrigger]="'click'" [(nzVisible)]="isVisibleShopingCard" nzClickHide="true" class="ms-2">
                        <nz-badge [nzCount]="totalQuantityNumber">
                            <nz-icon nzType="shopping-cart" nzTheme="outline" style="font-size: 28px; color: white;"></nz-icon>
                        </nz-badge>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <nz-card [nzTitle]="nzTitleCard" [nzExtra]="extraTemplate">
                            <app-shopping-cart></app-shopping-cart>
                        </nz-card>

                        <ng-template #nzTitleCard>
                            <p class="m-0 fw-bold">Giỏ hàng ({{totalQuantity()}})</p>
                        </ng-template>
                        <ng-template #extraTemplate>
                            <a (click)="onCloseShoppingCard($event)">
                                <nz-icon nzType="close" />
                            </a>
                        </ng-template>
                    </nz-dropdown-menu>
                </ng-template>

            </p-megamenu>
        </div>
    </div>

    <nz-drawer [nzVisible]="isMobileMenuOpen" nzPlacement="left" nzTitle="Menu" [nzWidth]="280" (nzOnClose)="closeMobileMenu()">
        <ng-container *nzDrawerContent>
            <div class="mobile-drawer-menu">
                <a class="mobile-drawer-link" routerLink="/home" (click)="closeMobileMenu()">
                    <nz-icon nzType="home" nzTheme="outline"></nz-icon>
                    <span>Trang chủ</span>
                </a>
                <a class="mobile-drawer-link" routerLink="/products" (click)="closeMobileMenu()">
                    <nz-icon nzType="appstore" nzTheme="outline"></nz-icon>
                    <span>Tất cả sản phẩm</span>
                </a>
                <a class="mobile-drawer-link" routerLink="/home" (click)="closeMobileMenu()">
                    <nz-icon nzType="fire" nzTheme="outline"></nz-icon>
                    <span>Hàng mới</span>
                </a>
                <a class="mobile-drawer-link" routerLink="/cart" (click)="closeMobileMenu()">
                    <nz-icon nzType="shopping-cart" nzTheme="outline"></nz-icon>
                    <span>Giỏ hàng ({{ totalQuantity() }})</span>
                </a>

                <nz-divider></nz-divider>

                <div class="mobile-drawer-section-title">DANH SÁCH SẢN PHẨM</div>
                @if (newProducts().length > 0) {
                    @for (product of newProducts(); track product.ID) {
                    <a class="mobile-drawer-link mobile-drawer-category text-truncate" [routerLink]="['/detail']" [queryParams]="{ id: product.ID }" (click)="closeMobileMenu()" [title]="product.ProductName">
                        {{ product.ProductName }}
                    </a>
                    }
                }

                <nz-divider></nz-divider>

                <ng-template #loggedInMobile>
                    <a *ngIf="isAdmin" class="mobile-drawer-link" routerLink="/admin/dashboard" (click)="closeMobileMenu()">
                        <nz-icon nzType="setting" nzTheme="outline"></nz-icon>
                        <span>Quản trị</span>
                    </a>
                    <a class="mobile-drawer-link" (click)="logout(); closeMobileMenu()">
                        <nz-icon nzType="logout" nzTheme="outline"></nz-icon>
                        <span>Đăng xuất</span>
                    </a>
                </ng-template>
            </div>
        </ng-container>
    </nz-drawer>
</header>

<main>

    <router-outlet></router-outlet>
    <div class="group">
        <!-- <nz-float-button-group nzShape="circle">
            <nz-float-button [nzHref]="socialZaloUrl()" nzType="default">
                <img src="assets/image/social/icons8-zalo-32.png" alt="Zalo">
            </nz-float-button>
            <nz-float-button [nzHref]="socialFacebookUrl()" nzType="default">
                <img src="assets/image/social/icons8-facebook-32.png" alt="Facebook">
            </nz-float-button>
            <nz-float-button [nzHref]="socialMessengerUrl()" nzType="default">
                <img src="assets/image/social/icons8-messenger-32.png" alt="Messenger">
            </nz-float-button>
            <nz-float-button [nzHref]="socialPhone()" nzType="default">
                <img src="assets/image/social/icons8-phone-32.png" alt="Phone">
            </nz-float-button>

            <nz-float-button-top [nzVisibilityHeight]="600" />
        </nz-float-button-group> -->
        <nz-float-button-group nzShape="circle" nzTrigger="click" [nzIcon]="triggerIcon">

            <nz-float-button [nzHref]="socialZaloUrl()" [nzIcon]="zalo">
            </nz-float-button>

            <nz-float-button [nzHref]="socialFacebookUrl()" [nzIcon]="facebook">
            </nz-float-button>

            <nz-float-button [nzHref]="socialMessengerUrl()" [nzIcon]="messenger">
            </nz-float-button>

            <nz-float-button [nzHref]="socialPhone()" [nzIcon]="phone">
            </nz-float-button>

            <nz-float-button-top [nzVisibilityHeight]="600"></nz-float-button-top>

        </nz-float-button-group>

        <ng-template #triggerIcon>
            <i nz-icon nzType="message" nzTheme="outline"></i>
        </ng-template>

        <ng-template #zalo>
            <img src="assets/image/social/icons8-zalo-32.png" width="24" height="24">
        </ng-template>

        <ng-template #facebook>
            <img src="assets/image/social/icons8-facebook-32.png" width="24" height="24">
        </ng-template>

        <ng-template #messenger>
            <img src="assets/image/social/icons8-messenger-32.png" width="24" height="24">
        </ng-template>

        <ng-template #phone>
            <img src="assets/image/social/icons8-phone-32.png" width="24" height="24">
        </ng-template>
    </div>
</main>
<footer class="footer-container">
    <div class="footer-top">
        <div class="container">
            <div class="row g-4">
                <div class="col-12 col-lg-4 col-md-12">
                    <div class="footer-brand">
                        <a routerLink="/home" class="footer-logo-link">
                            <img [src]="footerLogoURL()" alt="SamFoods" class="footer-logo">
                        </a>
                        <p class="footer-tagline">
                            {{ footerTagline() }}
                        </p>
                    </div>

                    <ul class="footer-contact list-unstyled">
                        <li>
                            <i class="fa-solid fa-location-dot"></i>
                            <span>{{ contactAddress() }}</span>
                        </li>
                        <li>
                            <i class="fa-solid fa-phone"></i>
                            <a *ngIf="contactPhone1()" [href]="'tel:' + contactPhone1()">{{ contactPhone1() }}</a>
                            <span class="dot-sep" *ngIf="contactPhone1() && contactPhone2()">·</span>
                            <a *ngIf="contactPhone2()" [href]="'tel:' + contactPhone2()">{{ contactPhone2() }}</a>
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope"></i>
                            <a *ngIf="contactEmail()" [href]="'mailto:' + contactEmail()">{{ contactEmail() }}</a>
                        </li>
                        <li>
                            <i class="fa-regular fa-clock"></i>
                            <span>{{ contactHours() }}</span>
                        </li>
                    </ul>
                </div>

                <div class="col-6 col-lg-2 col-md-4">
                    <h6 class="footer-title">Về SamFoods</h6>
                    <ul class="footer-links list-unstyled">
                        @for (item of aboutLinks(); track item.id) {
                        <li><a [routerLink]="item.link">{{ item.label }}</a></li>
                        }
                    </ul>
                </div>

                <div class="col-6 col-lg-2 col-md-4">
                    <h6 class="footer-title">Hỗ trợ khách hàng</h6>
                    <ul class="footer-links list-unstyled">
                        @for (item of supportLinks(); track item.id) {
                        <li><a [routerLink]="item.link">{{ item.label }}</a></li>
                        }
                    </ul>
                </div>

                <div class="col-6 col-lg-2 col-md-4">
                    <h6 class="footer-title">Chính sách</h6>
                    <ul class="footer-links list-unstyled">
                        @for (item of policyLinks(); track item.id) {
                        <li><a [routerLink]="item.link">{{ item.label }}</a></li>
                        }
                    </ul>
                </div>

                <div class="col-6 col-lg-2 col-md-12">
                    <h6 class="footer-title">Kết nối với chúng tôi</h6>
                    <div class="footer-socials">
                        <a [href]="socialZaloUrl()" target="_blank" rel="noopener" title="Zalo" aria-label="Zalo">
                            <img src="assets/image/social/icons8-zalo-32.png" alt="Zalo">
                        </a>
                        <a [href]="socialFacebookUrl()" target="_blank" rel="noopener" title="Facebook" aria-label="Facebook">
                            <img src="assets/image/social/icons8-facebook-32.png" alt="Facebook">
                        </a>
                        <a [href]="socialMessengerUrl()" target="_blank" rel="noopener" title="Messenger" aria-label="Messenger">
                            <img src="assets/image/social/icons8-messenger-32.png" alt="Messenger">
                        </a>
                        <a [href]="socialPhone()" title="Gọi điện" aria-label="Phone">
                            <img src="assets/image/social/icons8-phone-32.png" alt="Phone">
                        </a>
                    </div>

                    <h6 class="footer-title mt-3">Phương thức thanh toán</h6>
                    <div class="footer-payments">
                        <span class="payment-badge" title="Tiền mặt">
                            <i class="fa-solid fa-money-bill-wave"></i> COD
                        </span>
                        <span class="payment-badge" title="Chuyển khoản">
                            <i class="fa-solid fa-building-columns"></i> Bank
                        </span>
                        <span class="payment-badge" title="Ví MoMo">
                            <i class="fa-solid fa-wallet"></i> MoMo
                        </span>
                        <span class="payment-badge" title="VNPay">
                            <i class="fa-solid fa-credit-card"></i> VNPay
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-row">
                <p class="copyright" [innerHTML]="footerCopyright()"></p>
                <p class="cert" *ngIf="businessLicense()">
                    <i class="fa-solid fa-shield-halved"></i>
                    {{ businessLicense() }}
                </p>
            </div>
        </div>
    </div>
</footer>
